.full-width{
  width: 100%;
}

/* to change color of arrows to white */
::ng-deep .mat-sort-header-arrow {
  color: white;
}

/* to change opacity of arrow when it is not clicked */
::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
  opacity: 0.5 !important;
  transform: translateY(0px) !important;
}

/* changin header color of the tables */
.white-header .mat-header-cell {
  /* border-left: 0.5px solid rgba(0, 0, 0, 0.12);
  border-right: 0.5px solid rgba(0, 0, 0, 0.12);
  text-align: center; */
  color: white;
}

/* alternate color effect on table */
.row-bg-color {
  background-color: rgb(247, 247, 247);
}

/* header row bg color */
.header-bg-color {
  background-color: #4545a6;
}

